@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Current State</h1>
    <p>
        Status as of: @Model.LastChecked
    </p>
    <table>
        <tr>
            <th>Location</th>
            <!--
            <th>Latest recorded</th>
            <th>Latest uploaded</th>
            <th>Manifest updated</th>
            <th>Last checked</th>
            -->
            <th>Dataplicity</th>
            <th>Agent Version</th>
            <th>SD Card Util.</th>
            <th>Orcasound</th>
            <th>S3 Stream</th>
            <!--
            <th>Last OrcaHello Detection</th>
            <th>Confidence</th>
            -->
        </tr>
    @foreach (Models.Orcanode item in Model.Nodes)
    {
        <tr>
            <td title="@Html.DisplayFor(modelItem => item.DataplicityDescription)">
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.LatestRecordedLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatestUploadedLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManifestUpdatedLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastCheckedLocal)
            </td>
            -->
            <td style="background-color: @Model.NodeDataplicityBackgroundColor(item)">
                <a href="https://www.dataplicity.com/app/" style="color: @Model.NodeDataplicityTextColor(item)" target="_blank">
                    @Html.DisplayFor(modelItem => item.DataplicityConnectionStatus)
                </a>
            </td>
            <td style="background-color: @Model.NodeDataplicityUpgradeColor(item)">
                <a href="https://www.dataplicity.com/app/" target="_blank">
                    @Html.DisplayFor(modelItem => item.AgentVersion)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiskUsedInGigs)/@Html.DisplayFor(modelItem => item.DiskCapacityInGigs)G
                (@Html.DisplayFor(modelItem => item.DiskUsagePercentage)%)
            </td>
            @if (item.OrcasoundStatus == Models.OrcanodeOnlineStatus.Absent)
            {
                <td style="background-color: @Model.NodeOrcasoundBackgroundColor(item); color: @Model.NodeOrcasoundTextColor(item)">
                    @Html.DisplayFor(modelItem => item.OrcasoundStatus)
                </td>
            }
            else
            {
                <td style="background-color: @Model.NodeOrcasoundBackgroundColor(item)">
                    <a href="https://live.orcasound.net/listen/@Html.DisplayFor(modelItem => item.OrcasoundSlug)" style="color: @Model.NodeOrcasoundTextColor(item)" target="_blank">
                        @Html.DisplayFor(modelItem => item.OrcasoundStatus)
                    </a>
                </td>
            }
            @if (item.S3StreamStatus == Models.OrcanodeOnlineStatus.Absent)
            {
                    <td style="background-color: @Model.NodeS3BackgroundColor(item); color: @Model.NodeS3TextColor(item)">
                    @Html.DisplayFor(modelItem => item.S3StreamStatus)
                </td>
            }
            else
            {
                <td style="background-color: @Model.NodeS3BackgroundColor(item)">
                    <a href="https://open.quiltdata.com/b/streaming-orcasound-net/tree/@item.S3NodeName/" style="color: @Model.NodeS3TextColor(item)" target="_blank">
                        @Html.DisplayFor(modelItem => item.S3StreamStatus)
                    </a>
                </td>
            }
        </tr>
    }
    </table>
    <p/>
    <h4 style="text-align: left;">Legend</h4>
    <ul style="text-align: left;">
        <li>
            <b>Dataplicity Offline</b>: Dataplicity connection is down.
        </li>
        <li>
            <b>Dataplicity Online</b>: Dataplicity connection is up.
        </li>
        <li>
            <b>Orcasound Absent</b>: live.orcasound.net does not know about the node.
        </li>
        <li>
            <b>Orcasound Online</b>: live.orcasound.net knows about the node.
        </li>
        <li>
            <b>S3 Stream Offline</b>: No recent audio is on S3.
        </li>
        <li>
            <b>S3 Stream Online</b>: Audio stream is working normally.
        </li>
        <li>
            <b>S3 Stream Unintelligible</b>: Audio stream is being sent to S3 but it appears to be bad.
        </li>
    </ul>
    <p/>
    <h1 class="display-4"><a href="/api/ifttt/v1/triggers/nodestateevents">Recent State Events</a></h1>
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Event</th>
        </tr>
        @foreach (Models.OrcanodeEvent item in Model.RecentEvents)
        {
            <tr>
                <td>
                    @item.DateTimeLocal
                </td>
                <td>
                    @item.Description
                </td>
            </tr>
        }
    </table>
 </div>
