@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Current State</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Latest recorded</th>
            <th>Latest uploaded</th>
            <th>Manifest updated</th>
            <th>Current state</th>
            <th></th>
        </tr>
    @foreach (Core.Orcanode item in Model.Nodes)
    {
        <tr style="background-color: @Model.NodeColor(item)">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatestRecorded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatestUploaded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManifestUpdated)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a href="https://live.orcasound.net/listen/@Html.DisplayFor(modelItem => item.Slug)" target="_blank">
                    <button>Listen</button>
                </a>
            </td>
        </tr>
    }
    </table>
    <h1 class="display-4">Recent Events</h1>
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Event</th>
        </tr>
        @foreach (Core.OrcanodeEvent item in Model.RecentEvents)
        {
            <tr>
                <td>
                    @item.DateTime
                </td>
                <td>
                    @item.Description
                </td>
            </tr>
        }
    </table>
 </div>
