@page "{id}"
@model OrcanodeMonitor.Pages.NodeEventsModel
@{
    ViewData["Title"] = "Node Events";
}

<div class="text-center">
    <h1 class="display-4">@Model.NodeName</h1>

    <!-- Navigation Button -->
    <button onclick="location.href='@Url.Page("/SpectralDensity", new { id = Model.Id })'" class="btn btn-primary">
        View Most Recent Spectral Density
    </button>
    <p></p>

    <form method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="eventType" value="@Model.EventType" />
        <input type="hidden" name="Id" value="@Model.Id" />
        <div role="group" aria-label="Time period selection">
            <button type="submit" name="timePeriod" value="week"
                    class="btn @(Model.TimePeriod == "week" ? "selected" : "unselected")"
                    aria-pressed="@(Model.TimePeriod == "week" ? "true" : "false")" >
                Past Week
            </button>
            <button type="submit" name="timePeriod" value="month"
                    class="btn @(Model.TimePeriod == "month" ? "selected" : "unselected")"
                    aria-pressed="@(Model.TimePeriod == "month" ? "true" : "false")">
                Past Month
            </button>
        </div>
    </form>
    <p/>
    <form method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="timePeriod" value="@Model.TimePeriod" />
        <input type="hidden" name="Id" value="@Model.Id" />
        <div role="group" aria-label="Event type selection">
            <button type="submit" name="eventType" value="all"
                    class="btn @(Model.EventType == "all" ? "selected" : "unselected")"
                    aria-pressed="@(Model.EventType == "all" ? "true" : "false")">
                All
            </button>
            <button type="submit" name="eventType" value="hydrophone stream"
                    class="btn @(Model.EventType == "hydrophone stream" ? "selected" : "unselected")"
                    aria-pressed="@(Model.EventType == "hydrophone stream" ? "true" : "false")">
                Hydrophone Stream
            </button>
            <button type="submit" name="eventType" value="dataplicity connection"
                    class="btn @(Model.EventType == "dataplicity connection" ? "selected" : "unselected")"
                    aria-pressed="@(Model.EventType == "dataplicity connection" ? "true" : "false")">
                Dataplicity Connection
            </button>
            <button type="submit" name="eventType" value="Mezmo logging"
                    class="btn @(Model.EventType == "Mezmo logging" ? "selected" : "unselected")"
                    aria-pressed="@(Model.EventType == "Mezmo logging" ? "true" : "false")">
                Mezmo Logging
            </button>
        </div>
    </form>
    <p>
        Uptime percentage: @Model.UptimePercentage%
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Timestamp (Pacific)</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.RecentEvents.Any())
            {
                <tr>
                    <td colspan="2" class="text-center">No events found for this time period.</td>
                </tr>
            }
            @foreach (Models.OrcanodeEvent item in Model.RecentEvents)
            {
                <tr>
                    <td>@item.DateTimeLocal.ToString("g")</td>
                    <td align="left">@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
