@page
@model OrcaHelloOverviewModel
@{
    ViewData["Title"] = "OrcaHello Overview";
}

<div class="text-center">
    <h1 class="display-4"><a href="@Model.AksUrl" target="_blank">OrcaHello</a> Overview</h1>
    As of: @Model.NowLocal (Pacific)<br />
    <h2>Nodes</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>CPU</th>
            <th>Memory</th>
            <th>AVX-512</th>
            <th>Locations</th>
        </tr>
        @foreach (Models.OrcaHelloNode item in Model.Nodes)
        {
            <tr>
                <td>
                    <a asp-page="/OrcaHelloNode" asp-route-nodeName="@item.Name">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @(Math.Round(item.CpuPercent))%
                </td>
                <td>
                    @Model.GetNodeMemoryUsage(item) (@(Math.Round(item.MemoryPercent))%)
                </td>
                <td>
                    @(item.HasAvx512 ? "Yes" : "No")
                </td>
                <td>
                    @Model.GetLocations(item)
                </td>
            </tr>
        }
    </table>

    <h2>Pods</h2>
    <table>
        <tr>
            <th>Location</th>
            <th>Detections</th>
            <th>Lag</th>
            <th>CPU</th>
            <th>Memory</th>
            <th>Image</th>
            <th>Uptime</th>
            <th>Restarts</th>
        </tr>
        @foreach (Models.OrcaHelloPod item in Model.Pods)
        {
            <tr>
                <td>
                    <a asp-page="/OrcaHelloPod" asp-route-podNamespace="@item.NamespaceName">
                        @Html.DisplayFor(modelItem => item.NamespaceName)
                    </a>
                </td>
                <td style="background-color: @Model.GetPodDetectionsBackgroundColor(item)">
                    <a asp-page="/NodeDetections" asp-route-slug="@item.NamespaceName">
                        @item.DetectionCount
                    </a>
                </td>
                <td style="background-color: @Model.GetPodLagBackgroundColor(item)">
                    @Model.GetLag(item)
                </td>
                <td>
                    @(Math.Round(item.CpuPercent))%
                </td>
                <td>
                    @item.MemoryUsage (@(Math.Round(item.MemoryPercent))%)
                </td>
                <td>
                    @item.ImageName
                </td>
                @if (Model.GetPodStatus(item) == Models.OrcanodeOnlineStatus.Absent)
                {
                    <td style="background-color: @Model.GetPodUptimeBackgroundColor(item); color: @Model.GetPodUptimeTextColor(item)">
                        @nameof(Models.OrcanodeOnlineStatus.Absent)
                    </td>
                }
                else
                {
                    <td style="background-color: @Model.GetPodUptimeBackgroundColor(item)">
                        @Model.GetPodUptime(item)
                    </td>
                }
                <td style="background-color: @Model.GetPodRestartsBackgroundColor(item)">
                    @item.RestartCount @Model.GetPodLastTerminationReason(item)
                </td>
            </tr>
        }
    </table>
</div>
