@page "{nodeName}"
@model OrcanodeMonitor.Pages.OrcaHelloNodeModel
@{
    ViewData["Title"] = "OrcaHello for " + Model.NodeName;
}

<div class="text-center">
    <h1 class="display-4"><a asp-page="/OrcaHelloOverview" target="_blank">OrcaHello</a> for @Model.NodeName</h1>
    As of: @Model.NowLocal (Pacific)<br />

    <table>
        <tr>
            <td style="text-align: right; font-weight: bold; padding: 4px;">Name:</td>
            <td style="text-align: left; padding: 4px;">@Model.NodeName</td>
        </tr>
        <tr>
            <td style="text-align: right; font-weight: bold; padding: 4px;">Instance Type:</td>
            <td style="text-align: left; padding: 4px;">@Model.InstanceType</td>
        </tr>
        <tr>
            <td style="text-align: right; font-weight: bold; padding: 4px;">CPU Model:</td>
            <td style="text-align: left; padding: 4px;">@Model.CpuModel</td>
        </tr>
        <tr>
            <td style="text-align: right; font-weight: bold; padding: 4px;">AVX2 Support:</td>
            <td style="text-align: left; padding: 4px;">@Model.HasAvx2</td>
        </tr>
        <tr>
            <td style="text-align: right; font-weight: bold; padding: 4px;">AVX-512 Support:</td>
            <td style="text-align: left; padding: 4px;">@Model.HasAvx512</td>
        </tr>
        <tr>
            <td style="text-align: right; font-weight: bold; padding: 4px;">Problems:</td>
            <td style="text-align: left; padding: 4px;">@Model.Problems</td>
        </tr>
        <tr>
            <td style="text-align: right; font-weight: bold; padding: 4px;">Uptime:</td>
            <td style="text-align: left; padding: 4px;">@Model.Uptime</td>
        </tr>
        <tr>
            <td style="text-align: right; font-weight: bold; padding: 4px;">CPU:</td>
            <td style="text-align: left; padding: 4px;">@(Math.Round(Model.CpuPercent))% (@Model.CpuUsageCores.ToString("F2") / @Model.CpuCapacityCores cores)</td>
        </tr>
        <tr>
            <td style="text-align: right; font-weight: bold; padding: 4px;">Memory:</td>
            <td style="text-align: left; padding: 4px;">@(Math.Round(Model.MemoryPercent))% (@Model.MemoryUsage / @Model.MemoryCapacity)</td>
        </tr>
    </table>

    <!-- List of all pods on this node. -->
    <h2>Pods</h2>
    <table>
        <tr>
            <th>Namespace</th>
            <th>Name</th>
            <th>Pod CPU</th>
            <th>Node CPU</th>
            <th>Pod Memory</th>
            <th>Node Memory</th>
        </tr>
        @foreach (var pod in Model.Pods)
        {
            <tr>
                <td>
                @if (Model.IsInferencePod(pod))
                {
                    <a asp-page="/OrcaHelloPod" asp-route-podNamespace="@pod.NamespaceName">
                        @pod.NamespaceName
                    </a>
                }
                else
                {
                    @pod.NamespaceName
                }
                </td>
                <td>@pod.Name</td>
                <td>@(Math.Round(pod.CpuPercent))%</td>
                <td>@(Math.Round(100.0 * pod.CpuUsageCores / Model.CpuCapacityCores))%</td>
                <td>@pod.MemoryUsage (@(Math.Round(pod.MemoryPercent))%)</td>
                <td>@(Math.Round(100.0 * pod.MemoryUsageInKi / Model.MemoryCapacityInKi))%</td>
            </tr>
        }
    </table>
</div>